@import "tailwindcss";
#right::-webkit-scrollbar{
    display: none;

}

@keyframes shine {
  from {
    left: -120%;
  }
  to {
    left: 130%;
  }
}

.animate-shine {
  animation: shine 1.8s linear infinite;
}